<div class="container m-5">
  <div class="row">
    <div class="col-2"></div>
    <h4 class="my-4 col-2"><span style="background-color:#EFEFEF">　商品一覧　</span></h4>
    <div  class="col-1 ml-auto my-4">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus p-3 rounded-circle  shadow rounded"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <table class="table col-10 mx-auto">
      <thead class="thead-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>販売ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.title, admin_item_path(item) %></td>
        <td><%= item.non_tax_price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.sale_state %>
          <span class="text-success">販売中</span>
          <% else %>
          <span>販売停止中</span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div>
  <%= paginate @items %>
<div>