<div class="container m-5">
  <div class="row">
    <div class="col-1"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　注文履歴詳細　</span></h4>
  </div>


<div class="container">
  <div class="row">
    <table class="table">
      <h5><strong>注文情報</strong></h5>
        <tr>
          <td style="width:15%" class="table-active">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td>〒<%= @order.post_code %><br>
             <%= @order.address %><br>
             <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td class="table-active">ステータス</td>
          <td><%= @order.state %></td>
        </tr>
    </table>

    <table class="table">
      <h5><strong>注文内容</strong></h5>
      <thead class="table-active">
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
  　　</thead>
        <% @sum = 0 %>
        <% @orderd_items.each do |orderd_item| %>
        <tr>
          <td><%= orderd_item.item.title %></td>
          <td><%= orderd_item.price.to_s(:delimited) %></td>
          <td><%= orderd_item.quantity %></td>
          <!--小計@xと商品合計の計算-->
         <!--１つの商品の価格×数量を計算-->
          <% @x = orderd_item.price * orderd_item.quantity %>
            <!--eachの数だけ@sumに足していく-->
          <% @sum += @x %>
          <td><%= @x.to_s(:delimited) %></td>
        </tr>
        <% end %>
    </table>

    <table class="table">
      <h5><strong>請求情報</state></h5>
        <tr>
          <td style="width:15%" class="table-active">商品合計</td>
          <td><%= @sum.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td>800</td>
        </tr>
        <tr>
          <td class="table-active"><strong>ご請求額</strong></td>
          <td><%= @order.billing_amount.to_s(:delimited) %></td>
        </tr>
    </table>
  </div>
</div>

