<div class="container m-5">
  <div class="row">
    <div class="col-1"></div>
    <h4 class="my-4"><span style="background-color:#EFEFEF">　注文履歴詳細　</span></h4>
  </div>
      <table class=table>
        <tr>
          <th>購入者</th>
          <th><%= @order.customer.last_name + @order.customer.first_name %></th>
        <tr>
          <th>注文日</th>
          <th><%= @order.created_at %></th>
        </tr>
        <tr>
        <tr>
          <th>配送先</th>
          <th>
            <%= @order.post_code %>
            <%= @order.address %>
            <%= @order.name %>
          </th>
        </tr>
        <tr>
          <th>支払方法</th>
          <th><%= @order.payment_method %></th>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <th>
            <%= form_for @order, :url => { action: "update" } do |f| %>
            <%= f.select :state, ['入金待ち', '入金確認', '製作中', '発送準備中', '発送済み'] %>
            <%= f.submit "更新", class:'btn btn-success' %>
            <% end %>
        </tr>
      </table>

    <div class="row">
      <table class="table col-7">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <!--商品中間テーブルのカラムを呼び出してます-->
            <% @sum = 0 %>
            <% @orderd_items.each do |orderd_item| %>
              <tr>
                <td><%= orderd_item.item.title %></td>
                <td><%= orderd_item.price.to_s(:delimited) %></td>
                <td><%= orderd_item.quantity %></td>
                <!--小計@xと商品合計@sumの計算-->
                <!--１つの商品の価格×数量を計算-->
                <% @x = orderd_item.price * orderd_item.quantity %>
                <!--eachの数だけ@sumに足していく-->
                <% @sum += @x %>
                <td><%= @x.to_s(:delimited) %></td>
                <td>
                  <%= form_for orderd_item, url: admin_orderd_item_path(orderd_item) do |f| %>
                  <%= f.select :create_state, ['着手不可', '制作待ち', '制作中', '制作完了'] %>
                  <td><%= f.submit "更新", class:'btn btn-success' %></td>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <table class="col-3  align-self-end offset-1">
        <tr>
          <th>商品合計</th>
          <th><%= @sum.to_s(:delimited) %></th>
        </tr>
        <tr>
          <th>送料</th>
          <th>800</th>
        </tr>
        <tr>
          <th>請求合計金額</th>
          <th><%= @order.billing_amount.to_s(:delimited) %></th>
        </tr>
      </table>
    </div>
    </div>
  </div>

