<div class="container m-5">
  <div class="row">
    <div class="col-1"></div>
      <h4 class="my-4 mb-5"><span style="background-color:#EFEFEF"> ジャンル一覧・追加　</span></h4>
  </div>
    <%= render 'layouts/errors', obj: @genre %>
    <div class="row">
      <teble class="table table-borderless mb-5">
        <%= form_for @genre, :url => {action:"create"} do |f| %>
        <tr>
          <td>ジャンル名</td>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit '新規登録', class: 'btn btn-success' %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <% if @genres.exists? %>
      <table class="teble">
        <thead  class="table-active">
          <tr>
            <th class="py-2 text-center">ジャンル</th>
            <th class="py-2"></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td class="mb-2 pl-2"><%= genre.name %></td>
              <td class="p-2 pr-2 "><%= link_to '編集する', edit_admin_genre_path(genre) , class: "btn btn-success btn-sm" %></td>
            </tr>
           <% end %>
        </tbody>
      </table>
        <% else %>
          <br><br>
          <h4>まだジャンルが追加されていません。</h4>
        <% end %>
    </div>
  </div>
</div>
