<div class="container">
  <div class="row">
    <div class="mx-auto">

      <h2>ログイン</h2>
      <h4>会員の方はこちらからログイン</h4>
      <%= flash[:error] %>

      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <table class=table>
          <tr>
            <th><%= f.label :メールアドレス %><br /></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@exaample.com" %></th>
          </tr>

          <tr>
            <th><%= f.label :パスワード %><br /></th>
            <th><%= f.password_field :password, autocomplete: "current-password" %></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </th>
          </tr>
          <tr>
            <th></th>
            <th>
              <br>
              <div class="actions">
                <%= f.submit "ログイン", class:'btn btn-primary' %>
              </div>
            </th>
          </tr>
        </table>
      <% end %>

        <br>
        <h5>会員登録がお済みでない方</h5>
        <%= link_to 'こちら', new_customer_registration_path %> から新規登録を行ってください。

    </div>
  </div>
</div>
