<div class="container m-5">
  <div class="row">
    <div class="col-2"></div>
    <h4 class="my-2"><span style="background-color:#EFEFEF">　ショッピングカート　</span></h4>
    <div class="ml-auto">
     <%= link_to "カートを空にする", alldestroy_cart_item_path(@cart_items), method: :delete, data: { confirm: "本当に削除しますか"}, class: "btn btn-danger" %>
    </div>
  </div>
  <table class='table table-bordered mt-3 '>
   <thead class="table-active">
    <tr>
     <th>商品名</th>
     <th>単価(税込)</th>
     <th>数量</th>
     <th>小計</th>
     <th></th>
    </tr>
	  </thead>
	<% tax = 1.1 %>
	<% @sum = 0 %>
 <% @cart_items.each do |cart| %>
   <tbody>
    <tr>
     <td><%= attachment_image_tag cart.item, :image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg", size:'60x60' %>
  		     <%= cart.item.title %></td>
     <td class="align-middle"><%= (cart.item.non_tax_price * tax).floor %></td>
     <td class="align-middle">
      <%= form_for(cart, url:cart_item_path(cart)) do |f| %>
      <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] %>
      <%= f.submit "変更", class:"btn btn-primary btn-xs" %>
      <% end %>
    </td>
    <td class="align-middle"><%= (cart.item.non_tax_price * cart.amount * tax).floor %></td>
    <td class="align-middle"><%= link_to 'Destroy', cart_item_path(cart), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-xs" %></td>
   </tr>
   <tbody>
    <% @sum += (cart.item.non_tax_price * cart.amount * tax).floor %>
    <% end %>
  </table>
  <div class="row">
  <div class="col-2">
    	<%= link_to '買い物を続ける', "/", class: "btn btn-info btn-block btn-md" %>
  </div>
  <br>
  <table class='table table-bordered col-2 ml-auto'>
   <tr>
    <td class="table-active col-2">合計金額<td>
     <%= @sum %>
    </tr>
   </table>
 </div>

 <div class="col-2 mx-auto">
  <% if @cart_items.exists? %>
  <%= link_to '情報入力に進む', put_orders_path, class: "btn btn-success btn-block btn-md" %>
  <% else %>
  <h4>カート内に商品がありません。</h4>
  <%= link_to '情報入力に進む', put_orders_path, class: "btn btn-secondary btn-block btn-md disabled" %>
  <% end %>

 <div>
</div>
