<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <p class="logo"><a href="/">aaa</a></p>
        <ul class="navbar-nav ml-auto">


          <!--１、カスタマーログイン状態か否か-->
          <% if customer_signed_in? %>
            <li class="d-flex align-items-center">
              <i class="header-name">ようこそ、<%= current_customer.last_name %>さん！</i>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", customers_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", items_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", cart_items_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>

　　　　　<!--２、管理者ログイン状態か否か-->
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_orders_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>

　　　　　<!--３，カスタマー、管理者ともにログインしてない状態-->
          <% else %>
            <li class="nav-item">
              <%= link_to "About", home_about_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", items_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>